<!--Propper import of thymeleaf template-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/defaultTemplate">
    <head>
        <meta charset="UTF=8">
        <title>Products</title>
    </head>
    
    <body>                
        <div layout:fragment="content">
            <h1>Product Added Information</h1>
            
            <table style="width:50%" class="table table-bordered table-striped">
                <thead>
                    <tr>
                    <!--Product details-->
                        <th style="text-align:center">T-Shirt</th>
                        <th style="text-align:center">Size</th>
                        <th style="text-align:center">qty</th>
                    <th>
                </thead>
                <tbody>
                    <tr th:if="${products.empty}">
                        <td style="text-align: center" colspan="6"> No products added</td>
                    </tr>
                    <tr th:each="product : ${products}">
                        <td style="text-align:center"><h5 th:text="${product.color}">default</h5></td>
                        <td style="text-align:center"><h5 th:text="${product.size}">default</h5></td>
                        <td style="text-align:center"><h5 th:text="${product.stock}">default</h5></td>
                        <td style="text-align:center"><h5>Hidden</h5></td>
                    </tr>
                </tbody>
            </table>
            
        </div>
    </body>
</html>