<!--Propper import of thymeleaf template-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/defaultTemplate">
	<head>
		<meta charset="UTF=8">
		<title>Hello World</title>
	</head>
	
	<body>
		<div layout:fragment="content">
			<form action="#" th:action="@{doRegister}" th:object="${registrationForm}" method="post">
				<table>
				<!--Registration form required details and error handling-->
					<tr>
						<td>First Name:</td>
						<td><input type="text" th:field="*{firstName}" ></td>
						<td><h5 style="color:red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First Name Error</h5></td>
					</tr>
					<tr>
						<td>Last Name:</td>
						<td><input type="text" th:field="*{lastName}" ></td>
						<td><h5 style="color:red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last Name Error</h5></td>
					</tr>
					<tr>
						<td>Email Address:</td>
						<td><input type="text" th:field="*{email}" ></td>
						<td><h5 style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</h5></td>
					</tr>
					<tr>
						<td>Phone Number:</td>
						<td><input type="text" th:field="*{phoneNumber}" ></td>
						<td><h5 style="color:red" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">Phone Number Error</h5></td>
					</tr>
					<tr>
						<td>User Name:</td>
						<td><input type="text" th:field="*{username}" ></td>
						<td><h5 style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">User Name Error</h5></td>
					</tr>
					<tr>
						<td>Password:</td>
						<td><input type="password" th:field="*{password}" ></td>
						<td><h5 style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</h5></td>
					</tr>
					<tr>
						<td colspan="6"><input type="submit" value="Submit" /></td>
					</tr>
				</table>
			</form>
		</div>
	</body>
</html>