<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate:"layouts/defaultTemplate">
	<head>
		<meta charset="UTF=8">
		<title>Hello World</title>
	</head>
	
	<body>				
		<div layout:fragment="content">
			<h1>test message on registrationConfirmation</h1>
			<table style="width:50%">
				<thead>
					<tr>
						<th style="text-align:center">First Name</th>
						<th style="text-align:center">Last Name</th>
						<th style="text-align:center">Email</th>
						<th style="text-align:center">Phone Number</th>
						<th style="text-align:center">User Name</th>
						<th style="text-align:center">Password</th>
					<th>
				</thead>
				<tbody>
					<tr th:if="${users.empty}">
						<td style="text-align: center" colspan="4"> No users exist</td>
					</tr>
					<tr th:each="user : ${users}">
						<td style="text-align:center"><h5 th:text="${user.firstName}">default</h5></td>
						<td style="text-align:center"><h5 th:text="${user.lastName}">default</h5></td>
						<td style="text-align:center"><h5 th:text="${user.email}">default</h5></td>
						<td style="text-align:center"><h5 th:text="${user.phoneNumber}">default</h5></td>
						<td style="text-align:center"><h5 th:text="${user.username}">default</h5></td>
						<td style="text-align:center"><h5 th:text="${user.password}">default</h5></td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>